@media only screen and (max-width: 899px) {
	$board_width_mobile: 75vw;

	#board {
		width: calc(#{$board_width_mobile} - 2 * #{$padding_unit});

		#colors {
			width: $board_width_mobile;
		}
	}
}

@media only screen and (max-width: 600px) {
	$board_width_mobile: 100vw;

	#board {
		width: calc(#{$board_width_mobile} - 2 * #{$padding_unit});

		#colors {
			width: $board_width_mobile;
		}
	}

	.box {
		width: 50vw;
		height: 50vh;
	}
}

@media only screen and (max-width: 500px) {
	.box {
		width: 80vw;
		height: 80vh;
	}

	#win {
		width: 350px;
	}
}

@media only screen and (max-width: 400px) {
	#board {
		flex-flow: column nowrap;
		align-items: center;

		.row {
			justify-content: center;
		}

		#colors {
			width: 70%;
		}
	}
}

@media only screen and (max-width: 360px) {
	#win {
		width: 300px;
	}
}

@media only screen and (max-width: 350px) {
	#board {
		#colors {
			width: 90%;
		}
	}
}
