@media only screen and (max-width: 899px) {
	$board_width_mobile: 75vw;

	#board {
		width: calc(#{$board_width_mobile} - 2 * #{$padding_unit});
	}
}

@media only screen and (max-width: 600px) {
	$board_width_mobile: 100vw;

	#board {
		width: calc(#{$board_width_mobile} - 2 * #{$padding_unit});
	}

	.box {
		width: 50vw;
		height: 50vh;
	}
}

@media only screen and (max-width: 500px) {
	.box {
		width: 80vw;
		height: 80vh;
	}

	#win {
		width: 350px;
	}
}

@media only screen and (max-width: 400px) {
	#board {
		flex-flow: column nowrap;
		align-items: center;

		#rows {
			margin-bottom: 112px;
			
			.row {
				justify-content: center;
			}
		}

		#colors {
			width: 70%;
			padding: 0 15%;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			box-shadow: 0 0 10px $shadow;

			background: #8b5a2b;
			background-image: url("../images/wood.png");
			background-repeat: repeat;
		}
	}
}

@media only screen and (max-width: 360px) {
	#win {
		width: 300px;
	}
}

@media only screen and (max-width: 350px) {
	#board {
		#colors {
			width: 90%;
		}
	}
}
