// All the 8 colors you can choose
// red, green, blue, yellow, orange, pink, white, black
$red:  #f44336;
$green: #4caf50;
$blue: #2196f3;
$yellow: #ffeb3b;
$orange: #ff9800;
$pink: #e91e63;
// Some other colors
$grey: #9e9e9e;
$shadow: #212121;
$darker_white: #e0e0e0;

// Game board vars
$board_width: 60vw;
$color_radius: 20px; // TODO: Need some finetuning
$padding_unit: 8px;
$timing: .3s cubic-bezier(.55,0,.1,1);

// Other vars
$dialog_width: 30vw;
$dialog_height: 30vh;
$number_width: 1.25em;
