@import 'variables';
@import 'buttons';
@import 'inputs';

body, html, * {
	margin: 0;
	font-family: helvetica;
	// Transitions
	transition: background $timing;
	transition: opacity $timing;
	transition: box-shadow $timing;
}

*[draggable=true] {
	user-select:none;
	-khtml-user-drag: element;
	cursor: move;
}

*:-khtml-drag {
	background-color: rgba(238,238,238, 0.5);
}

body {
	background: $grey;
}

// Board setup
#board {
	width: $board_width;
	margin: 0 auto;
	padding: $padding_unit;
	// Flexbox setup
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	// Background
	background: #8b5a2b;
	background-image: url("../images/wood-1.png");
	background-repeat: repeat;
	// Shadow
	box-shadow: 0 0 10px $shadow;

	.row {
		margin: 0 auto;
		// Flexbox setup
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;

		.attempt_number {
			text-align: right;
			vertical-align: middle;
			height: $color_radius * 2;
			width: 2em;
			line-height: $color_radius * 2;
			margin: $padding_unit / 2;
			color: $darker_white;
			user-select: none;
		}

		.little_holes {
			width: $color_radius * 2;
			margin-left: $padding_unit / 2;
			// Flexbox setup
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			align-content: center;
		}

		.check {
			fill: $darker_white;
			cursor: pointer;
			opacity: 0;
			display: none;
		}

		.hole {
			width: $color_radius * 2;
			height: $color_radius * 2;
			border-radius: $color_radius;
			background: $grey;
			margin: $padding_unit / 2;

			box-shadow: inset 0 0 5px $shadow;
		}

		.hole.filled {
			box-shadow: 0 0 10px $shadow;
		}

		.hole.little {
			width: $color_radius * .8;
			height: $color_radius * .8;
			border-radius: $color_radius * .8;
			margin: $color_radius * .1;
		}

		.hole.color_0 { background: $red; }
		.hole.color_1 { background: $green; }
		.hole.color_2 { background: $blue; }
		.hole.color_3 { background: $yellow; }
		.hole.color_4 { background: $orange; }
		.hole.color_5 { background: $pink; }
		.hole.color_6 { background: white; }
		.hole.color_7 { background: black; }

		.hole.little.black { background: black; }
		.hole.little.white { background: white; }
	}

	#colors {
		width: $board_width;
		padding: 0;
		margin: 0;
		// Flexbox setup
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-items: flex-end;
		align-content: center;

		.color {
			width: $color_radius * 2;
			height: $color_radius * 2;
			margin: $padding_unit;
			border-radius: $color_radius;

			box-shadow: 0 0 10px $shadow;
		}
	}
}

#dimmer {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: .5;
}

.box {
	display: none;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: $dialog_width;
	height: $dialog_height;
	margin: auto;
	text-align: center;
	
	p {
		color: $darker_white;
		font-size: 28px;
	}
}

#lose {
	.button {
		margin-top: 25px;
	}
}

#win {
	width: 450px;

	#upload_high_score {
		margin-top: 25px;
		// Flexbox setup
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: baseline;
		align-content: flex-start;

		.button {
			width: 130px;
		}
	}

	& > .button {
		margin-top: 25px;
	}
}

// Setup the colors
#color_0 { background: $red; }
#color_1 { background: $green; }
#color_2 { background: $blue; }
#color_3 { background: $yellow; }
#color_4 { background: $orange; }
#color_5 { background: $pink; }
#color_6 { background: white; }
#color_7 { background: black; }
